<div class="d-flex justify-content-between align-items-center mb-3 mt-5">
    <h3 class="mb-0">Usuarios</h3>

    <button mat-raised-button class="primary" >
        <mat-icon>add</mat-icon> Agregar 
    </button>
</div>

<div class="table-responsive shadow-lg p-3">
    <app-list-generic [list]="users">
        <ng-container content-items>
                <table mat-table [dataSource]="users" class="table table-bordered table-hover align-middle">
                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef >Email</th>
                        <td mat-cell *matCellDef="let element">{{ element.email }}</td>
                    </ng-container>

                    <ng-container matColumnDef="acciones">
                        <th mat-header-cell *matHeaderCellDef>Acciones</th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-flat-button (click)="addAdmin(element.email)">Hacer Admin</button>
                            <button mat-flat-button (click)="removeAdmin(element.email)">Remover Admin</button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="showColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: showColumns"></tr> 
                </table> 
            </ng-container> 
    </app-list-generic>

    <mat-paginator showFirstLastButtons [length]="totalRecords" 
    [pageIndex]="paginationDto.pageNumber-1"
    [pageSize]="paginationDto.recordsPage" 
    [pageSizeOptions]="[10,25,50]"  (page)="onPageChange($event)" [pageIndex]="paginationDto.pageNumber-1"></mat-paginator>
</div>