<h2 class="ms-5">Usuarios</h2>

<div class="row justify-content-end">
    <div class="primary col-4" >
        <a mat-fab extended routerLink="/users/add" ><mat-icon>add</mat-icon>Agregar</a>
    </div>
</div>

 <!-- <app-list-generic [list]="users">
   <ng-container contenido>
         <table mat-table [dataSource]="users" class="shadow-lg p-3 mb-5 bg-body rounded">
           <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef>Email</th>
                <td mat-cell *matCellDef="let element">{{ element.email }}</td>
            </ng-container>

            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef>Acciones</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-flat-button (click)="addAdmin(element.email)">Hacer Admin</button>
                    <button mat-flat-button (click)="removeAdmin(element.email)">Remover Admin</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="showColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: showColumns"></tr> 
        </table>
    </ng-container> 
</app-list-generic>  -->

<mat-paginator showFirstLastButtons [length]="totalRecords" 
        [pageIndex]="paginationDto.pageNumber-1"
        [pageSize]="paginationDto.recordsPage" 
        [pageSizeOptions]="[10,25,50]" class="mat-elevation-z8" (page)="onPageChange($event)" [pageIndex]="paginationDto.pageNumber-1"></mat-paginator>