<mat-toolbar  class="bg-secondary px-3">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    
    <div class="container-fluid d-flex justify-content-between align-items-center flex-wrap">
        <ul class="nav me-auto mb-2 mb-lg-0 d-flex flex-wrap">
            <li class="nav-item" >
                <a class="nav-link text-white" [routerLink]="'pacientes'" routerLinkActive="active">Pacientes</a>
            </li>

            <li class="nav-item" >
                <a class="nav-link text-white" [routerLink]="'estudios'" routerLinkActive="active">Estudios</a>
            </li>
        </ul>
        
        <app-authentication>
            <ng-content authorized>
                <div class="d-flex align-items-center mt-2 mt-lg-0">
                    <small class="text-white fw-semibold me-2">Hello, {{securityService.getClaimValue('emailaddress')}}</small>
                    <img [src]="profileImage" alt="Perfil" class="rounded-circle border border-light" width="40" height="40">
                    <a mat-button (click)="securityService.logout()">Logout</a>
                </div>
            </ng-content>

            <ng-content noAuthorized>
                <a mat-button routerLink="login">Login</a>
                <a mat-button routerLink="register">Registro</a>
            </ng-content>
        </app-authentication>
    </div>
</mat-toolbar>