@if(!pacientes){
    <app-loading></app-loading>
}
@else if(pacientes.length === 0){
    <p>No hay elementos para mostrar</p>
}
@else{
    <table class="table table-bordered table-hover align-middle">
        <thead>
            <tr>
            <th scope="col">NSS</th>
            <th scope="col">Nombre</th>
            <th scope="col">Edad</th>
            <th scope="col">Genero</th>
            <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @for(paciente of pacientes; track $index){
                <tr>
                    <td>{{paciente.nss}}</td>
                    <td>{{paciente.nombre}}</td>
                    <td>{{paciente.edad}}</td>
                    <td>{{paciente.genero.nameGenero}}</td> 

                    <td >
                        <button mat-mini-fab aria-label="Edit" class="primary me-2" routerLink="/pacientes/edit/{{paciente.pacienteId}}"><mat-icon>edit</mat-icon></button>

                        <button mat-mini-fab aria-label="Delete" class="warn ms-2" 
                                [swal]="{title: 'Confirmación', text:'¿Deseas borrar este registro?', showCancelButton:true}" (confirm)="delete(paciente.pacienteId)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                    </td>
                </tr> 
            }
        </tbody>
    </table>
}